.ShowCard {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0px;
}

.ShowCard:hover,
.ShowCard:active {
  background-color: #C0DDF5;
}

.Info img {
  width: 100%;
  height: auto;
}