.ShowCard {
  width: 250px;
  height: 500px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0px;
  background-color: white;
  color: black;
}

.ShowCard:hover,
.ShowCard:active {
  background-color: rgb(211, 22, 22);
  color: white;
}

.Info img {
  width: 100%;
  height: auto;
}