.ShowContainer {
  width: 50%;
}

.ShowsHeader {
  text-align: center;
}

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.CardsContainer a {
  text-decoration: none;
}

.ShowsSearchbar {
  margin: 20px;
  padding: 10px;
  width: 600px;
}